Options -Indexes
RewriteEngine On

# Asegurar que Apache usa .htaccess
<IfModule mod_rewrite.c>
    RewriteBase /SICAFIT/
</IfModule>

# Configurar error 404
ErrorDocument 404 /SICAFIT/view/Error/pages-404.php